@using PagedList
@using PagedList.Mvc
@model System.Data.DataTable

@{
    ViewBag.Title = "WoTimeSheet";
    string currentWONO = null;
}

<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#exportB').click(function (event) {

                var wono = $("input[name='wono']").val();
                var indate = $("input[name='indate']").val();
                var indate2 = $("input[name='indate2']").val();

                if (wono == "" && indate == "" && indate2 == "") {
                    alert("請先查詢再匯出資料!");
                    event.preventDefault();
                    return;
                }
            });
        });
    </script>
</head>
<h2>站別數量統計</h2>
@using (Html.BeginForm())
{
    <div class="form-inline">
        <label>工單號碼:</label>
        @Html.TextBox("wono", null, new { @class = "form-control mr-2", @id = "wono", @name = "wono", style = "display:inline-block; width: 120px;" })
        <label>日期:</label>
        @Html.TextBox("indate", null, new { @type = "date", @class = "form-control mr-2", @id = "indate", @name = "indate", @placeholder = "YYYY-MM-DD", style = "display:inline-block; width: 150px;" })
        <label>～</label>
        @Html.TextBox("indate2", null, new { @type = "date", @class = "form-control mr-2", @id = "indate2", @name = "indate2", @placeholder = "YYYY-MM-DD", style = "display:inline-block; width: 150px;" })
        <button type="submit" class="btn btn-default" id="btnSearch" name="btnSearch">查詢</button>
    </div>
}

@*<h1>@Html.ActionLink("Excel", "ExportExcel", new { WoNo = Request["wono"], Indate = Request["indate"], Indate2 = Request["indate2"] }, new { id = "exportB" })</h1>*@
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>oo1o：@ViewBag.oo1o2</th>
            <th>oo2o：@ViewBag.oo2o2</th>
            <th>oo3o：@ViewBag.oo3o2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>WO_NO</th>
            <th>oo1o</th>
            <th>oo2o</th>
            <th>oo3o</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Rows.Count > 0)
        {
            foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    <td>@row["WO_NO"]</td>
                    <td>@row["oo1o"]</td>
                    <td>@row["oo2o"]</td>
                    <td>@row["oo3o"]</td>
                </tr>
            }
        }
    </tbody>
</table>