@model List<ESIntegrateSys.ViewModels.MemberViewModels>
@{ViewBag.Title = "";}
<h2></h2>
<h2>密碼變更</h2>
<p></p>
<head>
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["ErrorMessage"]));
        if (message != null) {
            $("#lab1").val(message);
        }
    </script>
</head>
@using (Html.BeginForm())
{
    <div class="form-horizontal">

        @foreach (var item in Model)
        {
            @*@Html.HiddenFor(model => model[0].fId)*@
            <div class="form-group" style="display: none;">
                <label class="control-label col-md-2">fId</label>
                <div class="col-md-10">
                    <input class="form-control" id="fId" name="fId" value="@item.fId" readonly="readonly" />
                    @Html.ValidationMessageFor(model => model[0].fId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">人員名稱</label>
                <div class="col-md-10">
                    <input class="form-control" id="fName" name="fName" value="@item.fName" readonly="readonly" />
                    @Html.ValidationMessageFor(model => model[0].fName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">新的密碼</label>
                <div class="col-md-10">
                    <input class="form-control" id="fPwd" name="fPwd" value="" type="password" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">再次確認</label>
                <div class="col-md-10">
                    <input class="form-control" id="fNPwd" name="fNPwd" value="" type="password" />
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="密碼變更" class="btn btn-outline-primary" />
                <label for="lab1" id="lab1" style="color:red">@ViewBag.msg</label>
            </div>
        </div>
    </div>
}
