@using PagedList
@using PagedList.Mvc
@model IPagedList<ESIntegrateSys.ViewModels.MemberViewModels>

@{
    ViewBag.Title = "人員名單維護";
}

<h2>人員名單維護</h2>

<p>
    @Html.ActionLink("建立人員名單", "CreateMember")
</p>
@Html.PagedListPager(Model, page => Url.Action("MemberMaintain", new { li = ViewBag.List, page }))
<table class="table">
    <tr>
        <th>員工編號</th>
        <th>姓名</th>
        <th>權限描述</th>
        <th>權限代號</th>
        <th>狀態</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.fUserId</td>
            <td>@item.fName</td>
            <td>@item.ROLE_DESC</td>
            <td>@item.ROLE_ID</td>
            <td>@item.fStatus</td>
            <td>
                @Html.ActionLink("編輯", "Edit_Member", new { fId = item.fId })
                @if (@ViewBag.RoleId == "SA" || @ViewBag.RoleId == "DA")
                {
                    @Html.ActionLink(" | 變更狀態", "Del_Member", new { fId = item.fId })
                }
            </td>
        </tr>
    }
</table>

